.searchSection {
  position: relative;
  min-height: 40vh;
  padding: 130px 0 40px 0;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;

    span {
      position: absolute;
      width: 1px;
      height: 1px;
      border: 0;
      border-radius: 50%;
      box-shadow: 0 0 250px 150px $magenta;
      -webkit-appearance: none;

      &:nth-child(1) {
        top: 80%;
        left: 20%;
        opacity: 0.3;
        transform: scale(1.4);
      }
      &:nth-child(2) {
        bottom: 0;
        right: 10%;
        opacity: 0.08;
        transform: scale(4);
      }
      &:nth-child(3) {
        top: 20%;
        left: 22%;
        opacity: 0.3;
        transform: translateY(-50px);
      }
    }
    &-img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 60%;
      max-height: 600px;
      opacity: 0.8;
      img {
        height: auto;
        width: 100%;
      }
    }
  }
  &__search {
    display: flex;
    gap: 15px;
    padding-bottom: 30px;
    margin-bottom: 80px;

    .input {
      width: 55%;
    }
    .button {
      width: calc(45% / 2 - 15px);
    }
  }
  &__results {
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      min-height: 75px;
      gap: 0.8em;
      list-style: none;
      border-radius: 1.6em;
      background: rgba($white, 0.9);
      // background: $color-2;
      // background: $gradient-secondary;
      box-sizing: border-box;
      padding: 0.8em 1.4em;
      margin-bottom: 0.8em;

      //font
      color: $black-1;
      // color: $white-3;
      font-size: 18px;
      font-weight: 400;
      font-family: $font-secondary;
      text-align: center;

      & > div {
        &:nth-child(2) {
          text-align: left;
          width: 25%;
          max-width: 200px;
        }
        &:nth-child(3) {
          width: 10%;
        }
      }
      ._action {
        align-self: stretch;
        width: 25%;
        max-width: 230px;

        .button {
          height: 100%;
          width: 100%;
        }
      }
      ._hidden {
        display: none;
      }
      ._ico {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.4em;
        height: 1.4em;
        border-radius: 50%;
        background: $gradient-primary;
        flex: unset;
        opacity: 0.9;
        pointer-events: none;

        img {
          width: 0.8em;
          height: 0.8em;
          object-fit: contain;
        }
      }
      &._header {
        position: relative;
        font-weight: 500;
        overflow: hidden;
        color: mix($magenta, $black, 60%);
        // color: $white;

        & > div {
          font-size: 20px;
        }
        ._action {
          align-self: center;
        }
      }
    }
  }
}
.faqSection {
  position: relative;
  padding: 50px 0;
  margin: 20px 0;
  z-index: 0;

  &::before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    height: 2px;
    background: rgba($white, 0.3);
    max-width: 1000px;
    transform: translateX(-50%);
  }
  &:after {
    top: unset;
    bottom: 0;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;

    span {
      position: absolute;
      width: 1px;
      height: 1px;
      border: 0;
      border-radius: 50%;
      box-shadow: 0 0 250px 150px $magenta;
      -webkit-appearance: none;
      opacity: 0;

      &:nth-child(1) {
        // top: 70%;
        top: 495px;
        left: 22%;
        opacity: 0.6;
        transform: scale(1.2) translateY(-50px);
      }

      &:nth-child(2) {
        // top: 50%;
        top: 355px;
        right: 22%;
        opacity: 0.23;
        transform: scale(2.2) translateY(-50px);
      }

      &:nth-child(3) {
        // bottom: 20%;
        bottom: 155px;
        left: 40%;
        opacity: 0.2;
        transform: scale(1.6) translateY(-50px);
      }
    }
  }
  &__inner {
    &-title {
      h3 {
        //font
        color: $white;
        font-size: 36px;
        font-weight: 700;
        font-family: $font-secondary;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 40px;

        span {
          @include textGradient($gradient-eth);
        }
      }
    }
    &-tabs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;

      &-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(50% - 15px);
        gap: 20px;
      }
    }
  }
  &__tab {
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(
      106.6deg,
      rgba(74, 74, 74, 0.2) 1.44%,
      rgba(126, 126, 126, 0) 108.41%
    );
    border-radius: 5px;
    border: 2px solid rgba($white, 0.1);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: inherit;
      z-index: -2;
      margin: -2px;
      border-left: 2px solid $color-2;
      border-right: 2px solid $color-3;
      background-image: $gradient-1-reverse, $gradient-1-reverse;
      background-size: 100% 2px;
      background-position: 0 0, 0 100%;
      background-repeat: no-repeat;
      opacity: 0;
    }

    &-header {
      position: relative;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.8em 2.6em 0.8em 1em;
      //font
      color: $white;
      font-size: 18px;
      font-weight: 700;
      font-family: $font-secondary;
      line-height: 1.2;
      text-align: center;

      ._ico {
        position: relative;
        display: block;
        width: 1em;
        height: 1em;
        border-radius: 2px;
        border: 2px solid currentColor;
        transition: 0.4s cubic-bezier(0.075, 0.8265, 1);
        margin-top: 0.8em;

        &::after {
          position: absolute;
          content: "";
          display: block;
          top: 50%;
          left: 50%;
          width: 60%;
          height: 2px;
          background: $white;
          z-index: 1;
          transform: translate(-50%, -50%);
          transition: 0.2s ease;
        }
        &::before {
          position: absolute;
          content: "";
          display: block;
          top: 50%;
          left: 50%;
          width: 60%;
          height: 2px;
          background: $white;
          z-index: 1;
          transform: translate(-50%, -50%) rotate(90deg);
          transition: 0.2s ease;
        }
      }
      &::after {
        position: absolute;
        content: "";
        display: block;
        top: 100%;
        left: 50%;
        height: 1px;
        background: rgba($white, 0.3);
        width: 0;
        opacity: 0;
        transition: 0.2s linear;
        transform: translateX(-50%);
      }
    }
    &-body {
      position: relative;
      max-height: 0;
      overflow: hidden;
      padding: 0 15px;
      //font
      color: $white;
      font-size: 16px;
      font-weight: 400;
      font-family: $font-secondary;
      line-height: 1.4;
      opacity: 0;
    }

    &.active {
      .faqSection__tab {
        &-bg {
          &:after {
            right: 10px;
            bottom: 0;
            opacity: 0.3;
            transition-property: opacity;
          }
        }
        &-header {
          &::after {
            width: calc(80%);
            opacity: 1;
            transition: width 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
          }
          ._ico {
            &::after {
              transform: translate(-50%, -50%) rotate(90deg);
              opacity: 0;
            }
            &::before {
              transform: translate(-50%, -50%) rotate(180deg);
            }
          }
        }

        &-body {
          opacity: 1;
          padding: 20px 15px;
          max-height: 500px;
          transition: 0.3s ease-out;
        }
      }
    }
  }
}
.footerSection {
  margin-top: auto;
  position: relative;
  padding: 50px 0 20px 0;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;

    span {
      position: absolute;
      width: 1px;
      height: 1px;
      border: 0;
      border-radius: 50%;
      box-shadow: 0 0 250px 150px $magenta;
      -webkit-appearance: none;
      opacity: 0;

      &:nth-child(1) {
        top: 70%;
        left: 22%;
        opacity: 0.6;
        transform: scale(1.2) translateY(-50px);
      }

      &:nth-child(2) {
        top: 50%;
        right: 22%;
        opacity: 0.23;
        transform: scale(2.2) translateY(-50px);
      }

      &:nth-child(3) {
        bottom: 20%;
        left: 40%;
        opacity: 0.2;
        transform: scale(1.6) translateY(-50px);
      }
    }
    &-img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 320px;
      opacity: 0.3;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      h3 {
        //font
        color: $white;
        font-size: 36px;
        font-weight: 700;
        font-family: $font-secondary;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 40px;

        span {
          @include textGradient($gradient-eth);
        }
      }
    }
    &-links {
      display: flex;
      padding: 90px 0 110px 0;
      gap: 15px;
    }
  }
}

@mixin search-1180 {
  .searchSection {
    &__search {
      .input {
        flex-grow: 1;
      }
      .button {
        width: unset;
        min-width: unset;
        flex-grow: unset;
      }
      .input__helper {
        .textLink {
          font-size: 14px;
        }
      }
    }
  }
}

@mixin search-940 {
  .searchSection {
    &__search {
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 40px;
      padding-bottom: 0;
      margin-bottom: 70px;

      .input {
        width: 100%;
        max-width: unset;
        margin-bottom: 50px;

        &__helper {
          .textLink {
            font-size: 12px;
          }
        }
      }
      .button {
        height: 60px;
        width: 40%;
      }
    }
    &__results {
      &-item {
        font-size: 16px;
        &._header {
          & > div {
            font-size: 18px;
          }
        }
      }
    }
  }
  .faqSection {
    &__inner {
      &-tabs {
        justify-content: center;

        &-column {
          width: 100%;
          max-width: 600px;
        }
      }
    }
  }
  .footerSection {
    &__bg {
      &-img {
        height: 230px;
      }
    }
    &__inner {
      &-title {
        h3 {
          margin: 0;
        }
      }
      &-links {
        padding: 60px 0 70px 0;

        .iconButton {
          padding: 1.5em;
        }
      }
    }
  }
}
@mixin search-740 {
  .searchSection {
    &__search {
      column-gap: 20px;
      .button {
        flex-grow: 1;
      }
      .input__helper {
        .textLink {
          font-size: 10px;
        }
      }
    }
    &__results {
      // max-width: 500px;
      // margin: 0px auto;

      &-item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding: 1em 2em;

        & > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex: unset;
          font-size: 18px;
          font-weight: 700;
          width: 100%;

          &:nth-child(n) {
            width: 100%;
            max-width: unset;
          }
          .button {
            width: 100%;
          }
        }
        ._hidden {
          display: block;
          font-weight: 500;
          color: $black-1;
        }
        ._ico {
          display: none;
        }
        ._action {
          margin: 10px 0;
          width: calc(50% - 8px) !important;
        }
        // font-size: 14px;
        // min-height: 60px;

        &._header {
          display: none;
        }
      }
    }
  }
  .footerSection {
    &__bg {
      &-img {
        height: 200px;
      }
    }
    &__inner {
      &-title {
        h3 {
          margin: 0;
        }
      }
      &-links {
        padding: 40px 0 60px 0;

        .iconButton {
          font-size: 12px;
        }
      }
    }
  }
}
@mixin comparisonTable-540 {
  .searchSection {
    &__search {
      column-gap: 8px;
      margin-bottom: 50px;

      .button {
        height: unset;
        width: 90%;
        flex-grow: unset;
      }
      .input__helper {
        .textLink {
          font-size: 8px;
        }
      }
    }
    &__results {
      &-item {
        margin-bottom: 15px;
        padding: 1em;

        & > div {
          font-size: 16px;
        }
        ._ico {
          display: none;
        }
        ._action {
          margin: 0;
          width: 100% !important;
        }

        &._header {
          display: none;
        }
      }
    }
  }
  .faqSection {
    &__inner {
      &-title {
        h3 {
          font-size: 28px;
        }
      }
    }
  }
  .footerSection {
    &__bg {
      &-img {
        height: 150px;
      }
    }
    &__inner {
      &-title {
        h3 {
          font-size: 28px;
        }
      }
      &-links {
        padding: 40px 0 50px 0;
        gap: 10px;
        .iconButton {
          font-size: 8px;
        }
      }
    }
  }
}
