$black: #111;
$black-1: #333;
$black-bg: #11011e;
$white: #fff;
$white-1: #eaeaea;
$white-2: #e0e0e0;
$gray: #808080;
$gray-1: #c6c6c6;
$magenta: #8427f3;
$color-1: #5159f7;
$color-2: #af34ff;
$color-3: #08a5ff;
$color-4: #f72585;
$color-5: #e58906;
$green: #00a58c;

$gradient-1: linear-gradient(45deg, $color-1, $color-2);
$gradient-1-reverse: linear-gradient(45deg, $color-2, $color-1, $color-3);
$gradient-2: linear-gradient(45deg, $color-4, $color-5);
$gradient-primary: linear-gradient(
  45deg,
  $color-2 0.52%,
  $color-1 49.52%,
  $color-3 99.54%
);
$gradient-secondary-reverse: linear-gradient(
  45deg,
  rgba(81, 18, 129, 0),
  #511281
);
$gradient-secondary: linear-gradient(
  45deg,
  #511281 0%,
  mix($black-bg, $magenta, 80%) 100%
);
$gradient-eth: linear-gradient(
  90deg,
  #968cff -16.5%,
  #7e98ff 37.49%,
  #52e3ff 125.5%
);

$font-secondary: "Rubik", sans-serif;
