$main: #f3af44;
$main-light: #f2b128;
$main-dark: #da9b39;
$black: #111;
$black-1: #131313;
$black-main: #674713;
$white: #fff;
$white-bg: #f2eada;
$gray: #666;
$gray-0: #888;
$gray-1: #ddd3c5;
$gray-2: #d7cebd;
