.comparisonTable {
  position: relative;
  padding: 80px 0;
  & > * {
    box-sizing: border-box;
  }

  &__inner {
    table {
      border-collapse: collapse;
      border-spacing: 0;
      border: 0;
      width: 100%;

      td,
      th {
        position: relative;
        font-family: $font-secondary;
        padding: 5px;
        z-index: 0;
      }
      td {
        width: 30%;
        &:nth-child(n + 1) {
          .comparisonTable__box {
            &::before {
              border-radius: 0;
              top: 0;
              height: 100%;
            }
          }
        }
      }

      tr:first-child {
        td {
          &:nth-child(n + 1) {
            .comparisonTable__box {
              &::before {
                top: 5px;
                height: calc(100% - 5px);
                border-radius: 20px 20px 0 0;
              }
            }
          }
        }
      }
      tr:last-child {
        td {
          &:nth-child(n + 1) {
            .comparisonTable__box {
              &::before {
                height: calc(100% - 5px);
                border-radius: 0 0 20px 20px;
              }
            }
          }
        }
      }
      tr:nth-child(odd) {
        .comparisonTable__box:not(._header) {
          &::before {
            // background: mix($white, $color-3, 80%);
            // background: rgba(mix($color-3, $white, 40%), 0.19);
            background: $color-2;
            background: $gradient-primary;
            opacity: 0.2;
          }
        }
      }
    }
  }
  &__seperator {
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;

    //font
    color: $white;
    font-weight: 700;
    font-size: 22px;
    text-align: left;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 5px;
      top: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      box-sizing: border-box;
      background: $color-2;
      background: $gradient-primary;
      opacity: 0.7;
      border-radius: 20px;
      z-index: -1;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray;
    padding: 10px;
    width: 100%;
    min-height: 80px;
    box-sizing: border-box;
    //font
    color: $white;
    text-align: center;

    strong {
      font-size: 24px;
      padding: 0.5em 0;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 5px;
      top: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      box-sizing: border-box;
      background: $color-3;
      background: $gradient-primary;
      border-radius: 20px;
      z-index: -1;
    }
    &._primary {
      &:before {
        background: $color-1;
        background: $gradient-1;
      }
    }
    &._secondary {
      &:before {
        background: $color-5;
        background: $gradient-2;
      }
    }
  }
  &__box {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;

    //font
    color: $white !important;
    font-weight: 500;
    font-size: 18px;

    &._header {
      color: $white;
      font-weight: 700;
      justify-content: flex-start;
      text-align: left;

      &:before {
        background: $color-2;
        background: $gradient-primary;
        opacity: 0.4;
      }
    }
    strong {
      color: $black-1;
      font-size: 700;
    }

    ._ico {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      color: $white;
      background: $gradient-primary;
      margin-right: 1em;
      flex-shrink: 0;

      svg,
      img {
        width: 0.8em;
        height: 0.8em;
      }
    }

    ._ico2 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 1em;
      svg,
      img {
        width: 2em;
        height: 2em;
      }
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 5px;
      top: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      box-sizing: border-box;
      border-radius: 20px;
      // background: mix($white, $color-3, 85%);
      // background: rgba(mix($color-3, $white, 40%), 0.1);
      background: $color-2;
      background: $gradient-primary;
      opacity: 0.4;
      z-index: -1;
    }
    &._success {
      color: $green;
      padding: 5px 1em;
    }
    &._warning {
      padding: 5px 1em;
      color: mix($black, $color-4, 20%);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    span {
      position: absolute;
      width: 0;
      height: 0;
      border-radius: 50%;
      box-shadow: 0 0 400px 120px $magenta;

      &:nth-child(1) {
        top: 50%;
        left: 20%;
        transform: scale(1.6);
        opacity: 0.8;
      }
      &:nth-child(2) {
        bottom: 10%;
        right: 20%;
      }
      &:nth-child(3) {
        top: 25%;
        right: 40%;
        opacity: 0.5;
        transform: scale(3);
      }
    }
  }
}

@mixin comparisonTable-1180 {
  .comparisonTable {
    &__box {
      font-size: 16px;
    }
  }
}
@mixin comparisonTable-1025 {
  .comparisonTable {
    &__header {
      strong {
        font-size: 20px;
      }
    }
    &__seperator {
      font-size: 20px;
    }
  }
}
@mixin comparisonTable-940 {
  .comparisonTable {
    &__header {
      strong {
        font-size: 20px !important;
      }
      span {
        font-size: 14px;
      }
    }
    &__seperator {
      font-size: 18px;
    }
    &__box {
      font-size: 14px;
    }
  }
}
@mixin comparisonTable-740 {
  .comparisonTable {
    &__header {
      span {
        font-size: 12px;
      }
    }
    &__inner {
      table {
        border-radius: 20px;
        padding-bottom: 20px;

        td,
        th {
          width: 50%;
          box-sizing: border-box;
          padding: 5px 3px;
          box-sizing: border-box;
        }
        tr {
          display: flex;
          flex-wrap: wrap;

          td:first-child,
          th:first-child {
            width: 100%;
            border-top: 1px solid rgba($black-bg, 0.5);
            border-bottom: 1px solid rgba($black-bg, 0.5);
          }

          th:nth-child(1) {
            background: rgba($white, 0.06);
          }
          td:nth-child(2) {
            // background: $white;
            // background: mix($white, $color-1, 95%);
            border-right: 1px solid rgba($black-bg, 0.5);
          }
          td:nth-child(3) {
            // background: $white;
            // background: mix($white, $color-5, 95%);
          }
        }
        thead {
          th:first-child {
            background: transparent;
            border: unset;
            .comparisonTable__header {
              padding: 0;
              min-height: unset;
              margin-bottom: 20px;

              strong {
                font-size: 24px !important;
              }
              &:before {
                display: none;
              }
            }
          }
        }
        tbody {
          position: relative;
          &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background: $color-2;
            background: $gradient-primary;
            opacity: 0.3;
            border-radius: 20px;
            z-index: -1;
          }

          tr:first-child {
            border-radius: 20px 20px 0 0;
            overflow: hidden;
            th:first-child {
              border-top: unset;
            }
          }
          tr:last-child {
            border-radius: 0 0 20px 20px;
            overflow: hidden;
            th:last-child {
              border-bottom: unset;
            }
          }
        }
      }
    }
    &__box {
      font-size: 16px;
      &:before {
        display: none;
      }
      &._header {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5px;

        //font
        color: $black-1;
        font-weight: 500;
        font-size: 18px;

        ._ico {
          display: none;
        }
      }
    }
    &__header {
      min-height: 120px;
      padding: 10px 10px 30px 10px;
      &:before {
        height: calc(100% - 25px);
      }
    }
    &__seperator {
      &:before {
        display: none;
      }
    }
  }
}
@mixin comparisonTable-540 {
  .comparisonTable {
    &__box {
      font-size: 14px;
      &._header {
        font-size: 16px;
      }
    }
  }
}
