.comparisonTable {
  position: relative;
  padding: 80px 0;
  & > * {
    box-sizing: border-box;
  }

  &__inner {
    table {
      border-collapse: collapse;
      border-spacing: 0;
      border: 0;
      width: 100%;

      td,
      th {
        position: relative;
        font-family: $font-secondary;
        padding: 5px;
        z-index: 0;
      }
      td {
        width: 30%;
        &:nth-child(n + 1) {
          .comparisonTable__box {
            &::before {
              border-radius: 0;
              top: 0;
              height: 100%;
            }
          }
        }
      }
      th {
        ._header {
          justify-content: flex-start;
          text-align: left;
        }
      }

      tr:first-child {
        td {
          &:nth-child(n + 1) {
            .comparisonTable__box {
              &::before {
                top: 5px;
                height: calc(100% - 5px);
                border-radius: 20px 20px 0 0;
              }
            }
          }
        }
      }
      tr:last-child {
        td {
          &:nth-child(n + 1) {
            .comparisonTable__box {
              &::before {
                height: calc(100% - 5px);
                border-radius: 0 0 20px 20px;
              }
            }
          }
        }
      }
      tr:nth-child(odd) {
        .comparisonTable__box {
          &::before {
            background: $white-2;
          }
          &._header {
            &:before {
              background: $white;
            }
          }
        }
      }
    }
  }
  &__seperator {
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;

    //font
    color: $gray;
    font-size: 22px;
    color: $black-1;
    text-align: left;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 5px;
      top: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      box-sizing: border-box;
      background: $white-2;
      border-radius: 20px;
      z-index: -1;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    color: $gray;
    padding: 40px 10px 10px 10px;
    width: 100%;
    box-sizing: border-box;
    //font
    color: $black;
    text-align: center;

    strong {
      font-size: 26px;
      padding: 0.5em 0;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 5px;
      left: 5px;
      width: calc(100% - 10px);
      height: 30px;
      padding: 5px;
      box-sizing: border-box;
      border-radius: 20px;
      color: $black;
      background: $white;
    }
    small {
      opacity: 0.8;
      font-size: 12px;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 5px;
      top: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      box-sizing: border-box;
      background: $white;
      border-radius: 20px;
      z-index: -1;
    }
    &._primary {
      color: $white;
      strong {
        font-size: 28px;
      }

      &:before {
        background: $color-1;
        background: $gradient-1;
      }
    }
    &._secondary {
      color: $white;
      strong {
        font-size: 28px;
      }

      &:before {
        background: $color-5;
        background: $gradient-2;
      }
    }
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;

    //font
    color: $gray;
    font-weight: 500;
    font-size: 16px;
    text-align: center;

    &._header {
      font-weight: 700;
    }
    strong {
      color: $black-1;
      font-size: 700;
    }
    ._ico {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      background: $gray-1;
      margin-right: 1em;
      flex-shrink: 0;

      svg {
        width: 0.8em;
        height: 0.8em;
        color: $black;
      }
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 5px;
      top: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      background: $white;
      box-sizing: border-box;
      border-radius: 20px;
      z-index: -1;
    }
    &._primary {
      color: $color-1;
    }
    &._secondary {
      color: $color-5;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    span {
      position: absolute;
      width: 0;
      height: 0;
      border-radius: 50%;
      box-shadow: 0 0 400px 120px $magenta;

      &:nth-child(1) {
        top: 50%;
        left: 20%;
        transform: scale(1.6);
        opacity: 0.8;
      }
      &:nth-child(2) {
        bottom: 10%;
        right: 20%;
      }
      &:nth-child(3) {
        top: 25%;
        right: 40%;
        opacity: 0.5;
        transform: scale(3);
      }
    }
  }
}

@mixin comparisonTable-1025 {
  .comparisonTable {
    &__header {
      strong {
        font-size: 20px;
      }
    }
    &__seperator {
      font-size: 20px;
    }
  }
}
@mixin comparisonTable-940 {
  .comparisonTable {
    &__header {
      padding: 30px 10px 10px 10px;
      strong {
        font-size: 20px !important;
      }
      span {
        font-size: 14px;
      }
    }
    &__seperator {
      font-size: 18px;
    }
    &__box {
      font-size: 14px;
    }
  }
}
@mixin comparisonTable-600 {
  .comparisonTable {
    &__header {
      span {
        font-size: 12px;
      }
    }
    &__inner {
      table {
        border-radius: 20px;
        padding-bottom: 20px;
        background: rgba($white-1, 0.8);

        td,
        th {
          width: 50%;
          box-sizing: border-box;
          padding: 5px 3px;
          box-sizing: border-box;
        }
        tr {
          display: flex;
          flex-wrap: wrap;

          td:first-child,
          th:first-child {
            width: 100%;
          }

          td:nth-child(2) {
            background: mix($white, $color-1, 95%);
            border-right: 1px solid rgba($gray-1, 0.5);
          }
          td:nth-child(3) {
            background: mix($white, $color-5, 95%);
          }
        }
        thead {
          th:first-child {
            .comparisonTable__header {
              padding: 20px 0;
              strong {
                font-size: 24px !important;
              }
              &:before {
                display: none;
              }
              small {
                display: none;
              }
            }
          }
        }
        tbody {
          position: relative;
          &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background: $white;
            border-radius: 20px;
            z-index: -1;
          }
          tr:last-child {
            border-radius: 0 0 20px 20px;
            overflow: hidden;
          }
        }
      }
    }
    &__box {
      &:before {
        display: none;
      }
      &._header {
        padding: 0 5px;
        color: $gray;
        ._ico {
          display: none;
        }
        &::before {
          display: none;
        }
      }
    }
    &__header {
      padding: 30px 10px;
      &:before {
        height: calc(100% - 25px);
      }
    }
    &__seperator {
      &:before {
        display: none;
      }
    }
  }
}
