@media (max-width: 1180px) {
  .autoContainer {
    padding: 0 50px;
  }
  .button {
    font-size: 16px;
  }
  @include header-1180;
  @include comparisonTable-1180;
}
@media (max-width: 1025px) {
  body.active {
    overflow: hidden;
  }
  .autoContainer {
    padding: 0 40px;
  }

  @include header-1025;
  @include comparisonTable-1025;
}
@media (max-width: 940px) {
  .autoContainer {
    padding: 0 25px;
  }
  @include comparisonTable-940;
  @include search-940;
}
@media (max-width: 740px) {
  .autoContainer {
    padding: 0 15px;
  }
  @include comparisonTable-740;
}
@media (max-width: 540px) {
  .autoContainer {
    padding: 0 10px;
  }
  @include comparisonTable-540;
}
